@mixin textLoginForm($width, $height, $fontSize, $color, $fontWeight) {
    width: $width;
    height: $height;
    font-family: Montserrat;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: $color;
}

.login {
    display: flex;
    flex-flow: column;
    height: 568px;

    .title--loginForm {
        margin-top: 45px;
        align-self: center;
        margin-bottom: 61px;
        @include textLoginForm( 105px, 42px, 32px, #202124, bold);
    }

    .form--login {
        padding: 0 80px;
    }

    .inputGroup--loginForm {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .rememberForgotPass--loginForm {
        display: flex;
        margin-bottom: 46px;

        .checkBox--loginForm {
            display: flex;
            cursor: pointer;
            
            .text--checkBox {
                @include textLoginForm(152px, 22px, 14px, #4d4d4d, normal);
            }
        }

        .linkForgotPass--loginForm {
            margin-left: auto;
            @include textLoginForm(166px, 22px, 14px, #4d4d4d, 600);
            cursor: pointer;
        }
    }
}