.home-page {
    .banner {
        display: flex;
        justify-content: center;
        width: 100%;

        .banner-image {
            margin-top: 37px;
            width: 1180px;
            position: relative;
            height: 513px;

            &:before {
                content: '';
                position: absolute;
                background-color: rgba(245, 192, 124, 0.1);
                width: 100%;
                height: 513px;
            }
        }

        .text {
            width: 545px;
            height: 45px;
            font-family: Domine;
            font-size: 48px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.94;
            letter-spacing: normal;
            text-align: right;
            color: white;
            text-transform: uppercase;
            position: absolute;
            right: 83px;
            top: 71px;
        }

        button {
            width: 180px;
            height: 49px;
            box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
            background-color: rgb(255, 85, 0);
            border: none;
            position: absolute;
            bottom: 47px;
            right: 73px;
            cursor: pointer;
        }
    }
    

    .standout-prod {
        display: flex;
        justify-content: center;
        margin-top: 19px;
        .item {
            position: relative;
            margin-right: 20px;
            overflow: hidden;
            img {
                width: 280px;
                height: 405px;
            }
            .item-detail {
                position: absolute;
                bottom: -80px;
                opacity: 0;
                width: 100%;
                text-align: center;
                transition: 0.5s ease-in;

                p {
                    color: white;
                    font-size: 20px;
                }

                .line {
                    border-bottom: 1px solid white;
                    margin: 6px 32px 14px 32px;
                }

                button {
                    width: 140px;
                    height: 40px;
                    background-color: rgb(255, 161, 95);
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: white;
                }
            }

            &:hover .item-detail {
                bottom: 28px;
                opacity: 1;
            }
        }
    }
}