@mixin textAuthenForm($width, $height, $fontSize, $color, $fontWeight) {
    width: $width;
    height: $height;
    font-family: Montserrat;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: $color;
}

.inputLabel--authentication {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
    
    
    .label--authentication {
        @include textAuthenForm(45px, 18px, 12px, #202124, bold);
        margin-bottom: 8px;
    }

    .input--authentication {
        width: 395px;
        border: solid 1px #b7b7b7;
        padding: 12px 0px 12px 24px;
        color: #202124;
        font-weight: 500;

        &.invalid {
            background-color: rgba(246, 63, 69, 0.04);
            border: 1px solid #f63f45;
        }
    }

    .textError-authentication {
        @include textAuthenForm(auto, 22px, 10px, #f63f45, 500);
    }
}