@mixin textregisterForm($width, $height, $fontSize, $color, $fontWeight) {
    width: $width;
    height: $height;
    font-family: Montserrat;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: $color;
}

.register {
    display: flex;
    flex-flow: column;

    .title--registerForm {
        align-self: center;
        margin-bottom: 35px;
        @include textregisterForm( 105px, 42px, 32px, #202124, bold);
        margin-top: 24px;
    }

    .form--register {
        padding: 0 80px;
    }

    .inputGroup--registerForm {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .termPolicy--registerForm {
        display: flex;
        margin: 0 auto 30px auto;
        @include textregisterForm(284px, 44px, 14px, darkgrey, normal);
        flex-flow: column;
        justify-content: center;

        .textUnderline--termPolicy {
            color: #ff7413;
            font-weight: bold;
        }
    }
}