.dropdown {
    cursor: pointer;
    border-bottom: 0.8px solid rgb(169, 169, 169);
    margin-bottom: 10px;

    .visible-button {
        display: flex;
        width: 100%;

        .button-arrow-icon {
            margin-left: auto;
        }
    }

    .invisible-content {
        width: 100%;
        max-height: 0px;
        transition: 0.5s linear;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        display: flex;
    }

    .invisible-content.active {
        transition: 0.5s linear;
        max-height: 50px;
        visibility: visible;
        opacity: 1;
        padding-bottom: 20px;
    }
}