.checkbox-grey {
    background-color: #fafafa;
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 150px;
    height: 35px;
    align-items: center;
    margin-top: 3px;

    img {
        margin: 5px 5px 5px auto;
    }

    .text--checkbox {
        height: 22px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #4d4d4d;
    }

    &.active {
        color: #ffa15f;
    }
}