.nav-bar {
    width: 100%;
    height: 115px;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.08), 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: white;

    .header {
        width: 100%;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;

        .search-input {
            position: relative;
            width: 181px;
            height: 35px;
            border-radius: 17px;
            border: solid 1px #b7b7b7;
            margin-left: 129px;
            margin-right: auto;
            display: flex;
            align-items: center;

            input {
                outline: none;
                border: none;
                width: 156px;
                height: 25px;
                margin-left: 14px;
            }

            .search-icon {
                position: absolute;
                width: 24px;
                height: 24px;
                object-fit: contain;
                opacity: 0.6;
                right: 14px;
                bottom: 5px;
            }
        }

        .brand-name {
            width: 96px;
            height: 20px;
            object-fit: contain;
            display: flex;
        }

        .header-button {
            display: flex;
            margin-left: auto;
            align-items: center;
            margin-right: 134px;
            .Register {
                width: 59px;
                height: 22px;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: normal; 
                color: #4d4d4d;
                margin-right: 24px;
            }
            .Login {
                width: 120px;
                height: 35px;
                border-radius: 100px;
                border: solid 1px rgb(255, 85, 0);
                text-align: center;
                box-sizing: border-box;
                margin-right: 24px;
                display: flex;
                justify-content: center;
                p {
                    color: rgb(255, 85, 0);
                    align-self: center;
                }
            }

            .cart, .Login, .Register {
                cursor: pointer;
            }

            .cart {
                position: relative;
                img {
                    width: 24px;
                    height: 24px;
                }
                .in-cart {
                    width: 18px;
                    height: 18px;
                    background-color: rgb(255, 85, 0);
                    border-radius: 9px;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    
                    p {
                        width: 8px;
                        height: 22px;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.83;
                        letter-spacing: normal;
                        color: white;
                    }
                }
            }
        }
    }

    .line {
        height: 1px;
        background-color: #ececec;
    }

    .menu {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;

        .item {
            display: flex;
            align-items: center;
            margin: 8px;
        }
    }
}