$menu-item-color: #b7b7b7;
$footer-font-family: Montserrat;

.footer {
    display: flex;
    height: 185px;
    margin-top: 37px;
    flex-direction: column;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.08), 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: white;

    .footer-detail {
        align-items: center;
        display: flex;
        height: 121px; 

        .footer-logo {
            display: flex;
            // margin-right: auto;
        }
    
        .footer-menu {
            display: flex;
            font-size: 14px;
            .menu-item {
                margin-right: 36px; 
                a {
                    text-decoration: none;
                    width: 64px;
                    height: 22px;
                    font-family: $footer-font-family;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.57;
                    letter-spacing: normal;
                    text-align: center;
                    color: $menu-item-color;
                }
            }
        }
    
        .footer-social {
            display: flex;
    
            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                margin-right: 15px;
            }
        }
    
        .footer-social, .footer-logo {
            margin: 0 auto;
        }
    }

    .footer-line {
        width: 80%;
        // margin:0 auto;
        height: 0.8px;
        opacity: 0.12;
        background-color: darkgrey;
    }

    .mini-footer {
        display: flex;
        height: 63px;
        align-items: center;

        .mini-footer-menu {
            display: flex;
            
            .menu-item {
                margin-right: 21px;
                
                a {
                    width: 38px;
                    height: 22px;
                    font-family: $footer-font-family;
                    font-size: 12px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.83;
                    letter-spacing: normal;
                    text-align: center;
                    color: $menu-item-color;
                    text-decoration: none;
                }
            }
        }

        .policy-terms {
            a {
                text-decoration: none;
                text-transform: capitalize;
                height: 22px;
                opacity: 0.4;
                font-family: $footer-font-family;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: normal;
                text-align: right;
                color: darkgrey;
            }
        }

        .mini-footer-menu, .policy-terms {
            margin: 0 auto;
        }
    }
}