$ColorDarkGrey: #b7b7b7;
$fontFamily: Montserrat;

%textStyle {
    text-align: center;
    font-family: $fontFamily;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: $ColorDarkGrey;
}

@mixin textStyleMixin($width, $height, $line-height, $font-size) {
    @extend %textStyle;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
}