.product-list {
    width: 1180px;
    margin: 40px auto 0 auto;
    
    .prod-title {
        text-align: center;
        width: 112px;
        height: 22px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: rgb(169, 169, 169);
        display: flex;
        justify-content: center;
        margin: 0 auto 38px auto;
    }

    .product-container {
        display: flex;
        
        .control-panel {
            width: 160px;
            margin-right: 40px;
            height: 500px;

            .control-section-name {
                width: 77px;
                height: 24px;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: darkgrey;
                margin-bottom: 29px;
            }

            .control-category {
                height: 22px;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: normal;
                color: #4d4d4d; 
                margin-bottom: 18px;
            }

            .control-category.active {
                color: rgb(255, 105, 0);
            }

            .control-line {
                width: 10px;
                height: 0.8px;
                opacity: 0.12;
                background-color: darkgrey;
            }

            .content--dropdown-horizontal {
                display: flex;
                width: 100%;
                .rc-slider-track {
                    background-color: #ffc371;
                }

                .rc-slider-handle {
                    border-color: #ffa15f;
                    background-color: #ffa15f;
                }
            }

            .content--dropdown-vertical {
                display: flex;
                flex-direction: column;
            }
        }
    
        .product-table {
            display: flex;
            flex-flow: wrap;
            width: 980px;

            .product-item {
                width: 180px;
                height: 345px;
                margin-right: 20px;
                margin-top: 20px;

                .product-image {
                    width: 180px;
                    height: 269px;
                }

                .product-detail {
                    .product-name {
                        width: 100%;
                        word-wrap: break-word;
                    }
                }

                &:nth-child(5n) {
                    margin-right: 0px;
                }
            }
        }   
    }
}