.drop-down-child-size {
    .squareBtn-size {
        width: 40px;
        height: 40px;
        border: solid 1px #808080;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin-right: 10px;

        &.active {
            background-color: #ffa15f;
            color: white;
        }

        &.button--disable {
            border: solid 1px #4d4d4d;
            opacity: 0.3;
            color: #4d4d4d;
        }
    }
}