.btnLogin--authenForm {
    width: 395px;
    height: 46px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);

    &.invalid {
        background-color: #d4d3d3;
    }

    &.valid {
        background-color: #ffa15f;
    }
}