@mixin body-darker($bool) {
    @if $bool == true {
      background-color: rgba(51, 51, 51, 0.5);
      z-index: 9999;
    }
}
  
.modal-layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(51, 51, 51, 0.2);
    transition: all 0.25s ease;
    transform: scale(0);
    
    .modal {
      position: fixed;
      // width: 400px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: move_down 1s ease 1;
      opacity: 1;
      background-color: white;
      font-size: 20px;
      z-index: 999999;
      // overflow: hidden;
      transition: 0.5s ease; 

      .option {
        margin: 1% 2px;
        display: flex;
        cursor: pointer;
        flex-direction: row-reverse;
        height: 90%;
      }
    }

    .modal.close {
      top: 150%;
      opacity: 0;
    }
} 
  
.modal-isOpen {
    transform: scale(1);
    z-index: 999;
}
  
@keyframes move_down {
    0% {
      top: -50%;
      opacity: 0;
    }
    100% {
      top: 50%;
      opacity: 1;
    }
}
  
@media only screen and (max-width: 400px) {
    .modal-layer .modal {
      width: 100%;
    }
}