@mixin textAuthenForm($width, $height, $fontSize, $color, $fontWeight) {
    width: $width;
    height: $height;
    font-family: Montserrat;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: $color;
}

.footer--authenForm {
    border-top: 1px solid #ededed;
    height: 66px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text--footer {
        display: flex;
        @include textAuthenForm(auto, 22px, 14px, #4d4d4d, 500);
    
        .link--footer {
            @include textAuthenForm(62px, 22px, 14px, #ff7413, bold);
        }
    }
}